body {
    margin: 0;
    padding: 0;
    background: rgb(107,126,226);
    background: linear-gradient(0deg, rgba(107,126,226,1) 0%, rgba(61,240,154,1) 100%)
    font-family: Arial, Helvetica, sans-serif;
  }
  
  header {
    background-image: url(picture/banner\ local\ website.png)
  }

  .centered {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 300%;
    color:white;
    text-shadow: 3px 3px rgb(77, 76, 76) ;
  }

  .nav img{
    vertical-align: middle;
    margin-right: 16px;
  }

  .nav {
    margin-bottom: 0;
  }

  .nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #426892;
    text-align: center;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  }
  
  .nav li {
    display: inline-block;
    margin: auto;
  }
  
 .nav ul li a {
    display: block;
    padding: 8px;
    color: white;
    text-decoration: none;
    margin: auto;
  }

  .nav ul li a:hover:not(.active) {
    background-color: #156669;
  }
  
  .active {
    background-color: #04AA6D;
  }

  .drop-down-menu {
    display: none;
  }

  .nav ul li:hover .drop-down-menu {
    display: block;
    position: absolute;
    background: #156669;
    margin-top: 0%;
    margin-left: 15px;
  }

  .nav ul li:hover .drop-down-menu {
    display: block;
  }

  .nav ul li:hover .drop-down-menu li {
    padding: 10px;
    margin: 0;
    border-bottom: 1px dotted white;
    background: transparent;
    text-align: center ;
  }

  .article {
    margin: 0%;
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    justify-content: center;
  }

  
  
  footer {
    background-color:#394D65;
    padding: 3px;
    text-align: center;
    color: white;
  }

  footer a{
    color: white;
  }